<h1>Rutas</h1>

<nav>
  <ul>
    <li>
      <h2>auth</h2>
      <ol>
        <li><a href="/registro">registro</a></li>
        <li><a href="/login">login</a></li>
      </ol>
    </li>
    <li>
      <h2>admin</h2>
      <ol>
        <li><a href="/admin/carrera/add-pensum">add-pensum</a></li>
        <li><a href="/admin/carrera/add-carrera">add-carrera</a></li>
        <li><a href="/admin/carrera/update-carrera">update-carrera</a></li>
      </ol>
    </li>
  </ul>
</nav>
