<%- include('global/header') %>

<div class="container" style="max-width: 360px;">
  <form id="miFormulario" class="bg-light p-4 rounded">
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input
        type="email"
        class="form-control"
        id="correo"
        name="correo"
        required
      />
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña:</label>
      <input
        type="password"
        class="form-control"
        id="contrasena"
        name="contrasena"
        required
      />
    </div>
    <div class="form-group">
      <button
        type="button"
        class="g-recaptcha btn btn-primary btn-block"
        data-sitekey="6Le2S9cpAAAAACwmjzPeDgR7AuS64D-fI5KAOouw"
        data-callback="onSubmit"
        data-action="submit"
      >
        Iniciar sesión
      </button>
    </div>
  </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function onSubmit(token) {
    const correo = document.getElementById("correo").value;
    const contrasena = document.getElementById("contrasena").value;

    fetch("/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ correo, contrasena, captcha: token }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        // Asegúrate de que el token existe en la respuesta
        if (data.token) {
          // Guarda el token en el localStorage
          localStorage.setItem("token", data.token);

          // Redirige al usuario a la página de inicio
          window.location.href = "/admin";
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>
