<div class="container-fluid d-flex align-items-center">
  <select id="carreraSelect" class="form-control mb-3 mr-2">
    <% data.forEach(carrera => { %>
    <option value="<%= carrera.dataValues.pensumCode %>"><%= carrera.dataValues.nombre %></option>
    <% }) %>
  </select>
  <a href="/admin/carrera/add-carrera" class="btn btn-primary">Agregar carrera</a>
</div>