<select id="facultad" name="facultad" class="form-control">
  <option value="">Seleccione una facultad</option>
  <option value="Educación">Educación</option>
  <option value="Artes y Humanidades">Artes y Humanidades</option>
  <option value="Ciencias Sociales, Administración y Derecho"
    >Ciencias Sociales, Administración y Derecho</option
  >
  <option
    value="Ciencias Naturales, Ciencias Exactas y Ciencias de la Computación"
    >Ciencias Naturales, Ciencias Exactas y Ciencias de la Computación</option
  >
  <option value="Tecnologías de la Información y de la Comunicación"
    >Tecnologías de la Información y de la Comunicación</option
  >
  <option value="Ingeniería, Manufactura y Construcción"
    >Ingeniería, Manufactura y Construcción</option
  >
  <option value="Agronomía y Veterinaria">Agronomía y Veterinaria</option>
  <option value="Ciencias de la Salud">Ciencias de la Salud</option>
</select>
